# Configuration de la base de données PostgreSQL
DB_NAME=cv_extraction
DB_USER=postgres
DB_PASSWORD=Gvnysend
DB_HOST=db
DB_PORT=5432

# Clés d'API pour le service OCR / IA
GEMINI_API_KEY=votre_cle_gemini_ici
GROQ_API_KEY=votre_cle_groq_ici
DEEPSEEK_API_KEY=votre_cle_deepseek_ici
